<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Novo Paciente</title>
</head>
<body>
<h1 th:text="${paciente.id} != null ? 'Editar Paciente' : 'Novo Paciente'"></h1>
<form method="post" th:action="${paciente.id} != null ? @{'/pacientes/' + ${paciente.id}} : @{/pacientes}" th:object="${paciente}">
  <label>Nome</label>
  <input type="text" th:field="*{nome}" />
  <br/>
  <label>Email</label>
  <input type="email" th:field="*{email}" />
  <br/>
  <label>Data de Nascimento</label>
  <input type="date" th:field="*{dataNascimento}" />
  <br/>
  <label>Telefone</label>
  <input type="text" th:field="*{telefone}" />
  <br/>
  <button type="submit">Salvar</button>
</form>
</body>
</html>
